<div class="sign-up-header">
    <%= link_to '/' do %>
        <span class="material-symbols-outlined sign-up-left">
            arrow_back_ios
        </span>
    <% end %>
    
    <h3 class="sign-up-h3">
        <%= title %>
    </h3>


    <div class="actions">
        <%= f.submit "New", class: 'sign-up-strong-link' %>
    </div>

</div>

<div class='avatar'>
    <img src="https://villagesonmacarthur.com/wp-content/uploads/2020/12/Blank-Avatar.png" width=70 alt="avatar">

    <a href="#" >Upload image</a>

</div>